{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="height: 20vh">
      <h2>Анализ по методу {{method_name}}</h2>
      <form method="post">
          {% csrf_token%}
          <table class="table table-bordered">
              <thead>
                    <tr>
                        <th>#</th>
                        <th>Название пункта</th>
                        <th>Ввод данных</th>
                </tr>
              </thead>

              {% for i in row_number_list %}
                <tr>
                  <td style="width: 30%">{{text_for_rows.i}} </td>
                  <td>
                    <div class="form-group">
                      <input style="width: 70%" type="text" class="form-control" name="data{{ i }}">
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </table>
          <button type="submit" id="ButtonForm" class="btn btn-primary">Отправить</button>
      </form>
</div>

{% endblock content %}