{% extends 'base.html' %}
{% load static %}


{% block content %}

<style>
    .table td,
    .table th {
    height: 5px;

    }
</style>

<div class="container" style="height: 30vh">
      <h2>Анализ по методу Дракон</h2>
      <form method="post">
          {% csrf_token%}
          <table class="table table-bordered">
             <thead>
                <tr>
                    <th>Название пункта</th>
                    <th>Ввод данных</th>
                </tr>
             </thead>
                {{ dragon_form.non_field_errors }}
              {%for row in row_list%}
            <tr>
                <td>{{row.text}}</td>
                <td><input type="number" class="form-control" placeholder="" name="data{{row.id}}" required></td>
            </tr>
              {%endfor%}
          </table>

          <button type="submit" id="ButtonForm" class="btn btn-primary">Отправить</button>
      </form>
</div>

{% endblock content %}