{% extends "base.html" %}

{% block content %}
<style>
      table th:nth-child(1),
      table td:nth-child(1),
      table th:nth-child(2),
      table td:nth-child(2),{
        width: 20%;

      }

      table th:nth-child(3),
      table td:nth-child(3) {
        width: 60%;
      }
</style>

    <div class="container">
          <h2>Отчет от {{report.date}}</h2>
            Метод {{report.method}}
            <p>Создано:  {{report.create_by.first_name}}</p>
            Введенные данные:
            {%for a,b in input%}
                <li>{{a}}-{{b}}</li>
            {%endfor%}
        <p></p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center align-middle">Показатели эффективности</th>
                <th class="text-center align-middle">Полученное значение коэфицента</th>
                <th class="text-center align-middle">Вывод</th>
              </tr>
            </thead>

            {%for row in row_list%}
              <tr>
                <td class="text-center align-middle">{{row.text}}</td>
                <td class="text-center align-middle">{{row.calculated_data}}</td>
                <td class="text-center align-middle">{{row.result}}</td>
              </tr>
            {%endfor%}
          </table>
    </div>
{% endblock %}